<h2 class="content-subhead">Search</h2>

<form action="/search" method="get">
  <input name="query" value="<%= params[:query] %>">
  <button type="submit">Search</button>
</form>

<% if @results %>
  <h2 class="content_subhead">Results for '<%= params[:query] %>'</h2>

  <ul>
    <% @results.each do |chapter, index, paragraph, paragraph_index| %>
      <li><a href="/chapters/<%= index + 1 %>#<%= paragraph_index %>"><h4><%= chapter %></h4></a>
      <p><%= mark_search(paragraph, params[:query]) %></p></li>
    <% end %>
  </ul>
<% end %>
